.footer {
  width: 100%;
  height: auto;
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  flex-wrap: wrap;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  width: 70px;
  font-size: 40px;
  cursor: pointer;
}

.footer p {
  color: white;
}

@media only screen and (max-width: 768px) {
  .socialMedia {
    margin: 10px;
  }

  .socialMedia svg {
    width: 40px;
    font-size: 40px;
  }
}
